<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>
            <mat-icon>dashboard</mat-icon>
        </span>
        <span>Angular Project Template</span>
        <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item *ngIf="!auth.isAuthenticated()" routerLink="/login">Login</button>
    <button mat-menu-item *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Logout</button>
    <button mat-menu-item>Close</button>
</mat-menu>
<router-outlet></router-outlet>
<span class="done" [mat-menu-trigger-for]="menu">
    <button mat-fab>
        <mat-icon>check circle</mat-icon>
    </button>
</span>
