<mat-card class="usr-table">
    <div class="filter-text">
        <mat-form-field floatPlaceholder="never">
            <input matInput #filter placeholder="Filter Users by Name">
        </mat-form-field>
    </div>
    <mat-progress-spinner class="loading" [mode]="'indeterminate'" [ngClass]="{'hidden': !userDatabase.loading}"> </mat-progress-spinner>
    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="{{col}}" *ngFor="let col of displayedColumns">
            <mat-header-cell *matHeaderCellDef> {{col}}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element[col]}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="handleRowClick(row)"></mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="userDatabase.count" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="userDatabase.getUsers($event, filter.value)">
    </mat-paginator>
</mat-card>
