/* You can add global styles to this file, and also import other style files */
@import url(~@angular/material/prebuilt-themes/indigo-pink.css);
.usr-table .mat-table {
  overflow: auto;
  max-height: 500px; }

.usr-table .mat-form-field {
  font-size: 12px;
  flex-grow: 1;
  margin-left: 32px; }

.usr-table .filter-text {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 12px;
  justify-content: space-between; }

.usr-table .loading {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

body {
  margin: 0;
  font-family: Roboto, sans-serif; }

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center; }

mat-toolbar-row {
  justify-content: space-between; }

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white; }

.hidden {
  display: none !important; }
