<mat-card class="login-page">
    <mat-card-header>
        <mat-card-title>Please log in</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Email" #email>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" #password>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
            </div>
            <div>
                <button *ngIf="loading === false" mat-button (click)="login(email.value, password.value)">Login</button>
                <span *ngIf="loading === true">Loading ...</span>
            </div>
        </form>
    </mat-card-content>
</mat-card>
