$font-size:   12px;
.usr-table {
    .mat-table {
        overflow: auto;
        max-height: 500px;
    }
    .mat-form-field {
        font-size: $font-size;
        flex-grow: 1;
        margin-left: 32px;
    }
    .filter-text {
        min-height: 64px;
        display: flex;
        align-items: baseline;
        padding: 8px 24px 0;
        font-size: $font-size;
        justify-content: space-between;
    }
    .loading {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
}
